body {
    background-color: rgb(25, 0, 30);
    color:white;
    -webkit-animation: fadein 3s; /* Safari, Chrome, and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

.topContainer {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.topContainer span {
    text-decoration: underline;
}

h1 {
    font-family: "Jersey 10",Impact;
    font-size: 4rem;
}

h2 {
    font-family: Impact;
    font-size: 40px;
}

.card {
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(122, 0, 53);
}

.mid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.cursor {
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
